<li class="dropdown">
  <a href="#"
        class="dropdown-toggle"
        data-toggle="dropdown">
        <%= icon("plus", "Create") %>
        <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
      <%= content_tag(:li, link_to(icon("file", "New Post"), new_post_url), class: is_active?(new_post_url)) %>
      <%= content_tag(:li, link_to(icon("film", "Upload Images/Video"), assets_url),
          class: is_active?(assets_url)) %>
    <%= content_tag_if admin?, :li, "", class: "divider" %>
    <%= content_tag_if admin?, :li, "Admin Options", class: "nav-header" %>
    <%= content_tag_if(admin?, :li, link_to(icon("plus-sign", "Create New User"), new_user_url),
                                class: is_active?(new_user_url)) %>
  </ul>
</li>