<%= form_for(@user) do |f| %>
	<div class="user-name">
	  <%= f.label :name %><br />
	  <%= f.text_field(:name, :size => 50) %>
	</div>
	<div class="user-email">
	  <%= f.label :email %><br />
	  <%= f.text_field(:email, :size => 50) %>
	</div>
	<div class="user-classification">
	  <%= f.label :classification %><br />
	  <%= f.select :classification, { "Administrator" => "administrator", "Teacher" => "teacher", "Student" => "student", "Donor" => "donor"} %>
	</div>
	<div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :confirm_password %><br />
    <%= f.password_field :password %>
  </div>
	<div class="submit">
	  <%= f.submit %><br />
	</div>
<% end %>