<div id="content">
  <div id="main">
  <header class="wrapper">
    <%= image_tag("globalplayground2.gif") %>
    <nav>
      
    </nav>
  </header>
  
      <% @video_ids.each do |vid_id| %>
        <%= link_to "link", "http://www.youtube.com/watch?v=#{vid_id}" %>
      <% end %>
      
      <div class="wrapper threeway">
				<h4>Thailand:</h4>
        <ul>
        <%#= @uri.query %>
        <% @articles.each do |article| %>
		<% if article.user_id == 1 %>
		<h2><%=  article.article_title %></h2><br />
		<p><%=  article.article_body %></p>
		<div class="frontpage" style="max-width: 100%;"><iframe id="player" type="text/html" src="http://www.youtube.com/embed/<%= article.attachment_URL %>" frameborder="0"></iframe></div>
		<hr>
          <%#= v["title"]["$t"] %>
          <%#= image_tag(v["media$group"]["media$thumbnail"][0]["url"], :class => "vid_img") %>
		<% end %>
   		<% end %>
</ul>
      </div>
      <div class="wrapper threeway">
				<h4>Honduras:</h4>
                <ul>
		        <%#= @uri.query %>
		        <% @articles.each do |article| %>
				<% if article.user_id == 2 %>
				<h2><%=  article.article_title %></h2><br />
				<p><%=  article.article_body %></p>
				<div class="frontpage" style="max-width: 100%;"><iframe id="player" type="text/html" src="http://www.youtube.com/embed/<%= article.attachment_URL %>" frameborder="0"></iframe></div>
				<hr>
		          <%#= v["title"]["$t"] %>
		          <%#= image_tag(v["media$group"]["media$thumbnail"][0]["url"], :class => "vid_img") %>
				<% end %>
		   		<% end %>
		</ul>
      </div>
      <div class="wrapper threeway">
			<h4>Vietnam:</h4>
		        <ul>
		        <%#= @uri.query %>
		        <% @articles.each do |article| %>
				<% if article.user_id == 3 %>
				<h2><%=  article.article_title %></h2><br />
				<p><%=  article.article_body %></p>
				<div class="frontpage" style="max-width: 100%;"><iframe id="player" type="text/html" src="http://www.youtube.com/embed/<%= article.attachment_URL %>" frameborder="0"></iframe></div>
				<hr>
		          <%#= v["title"]["$t"] %>
		          <%#= image_tag(v["media$group"]["media$thumbnail"][0]["url"], :class => "vid_img") %>
				<% end %>
		   		<% end %>
		</ul>
      </div>

  </div>
</div>


