<p id="notice"><%= notice %></p>

<div style="float: left;">
<h1><%= @article.article_title %></h1>
<p>
	<small>Author: <i><%#= @article.user.first_name + " " + @article.user.last_name %></i> | Published: <i><%= @article.article_date %></i></small>
</p>

<p>
  <%= @article.article_body %>
</p>

<p>
  <b>Article tags:</b>
  <%= @article.article_tags %>
</p>

<p>
  <b>Picture / Video:</b>
</p>

<hr />

<p>
  <b>Attachment URL:</b>
  <%= @article.attachment_URL %>
</p>

<p>
  <b>Description:</b>
  <%= @article.attachment_Description %>
</p>

<p>
  <b>Credits:</b>
  <%= @article.attachment_Credits %>
</p>
</div>

<div style="float: right;">
	<%= link_to 'Edit This Article', edit_article_path(@article) %>
</div>

<div style="clear: both;"></div>
