<div class="new-user">
  <h1 class="header">Create New User</h1>

  <%= render 'form' %>

<<<<<<< HEAD
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :confirm_password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
  <%= f.label "Type" %><br />
  <%= f.select :classification, {"Student" => "Student", "Admin" => "Admin", "Teacher" => "Teacher"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
=======
</div>
>>>>>>> 82e393699cc328668a0c7e6927f8df8fc0b07dce
