<%= form.fields_for :attachments do |attach_form| %>
  <div class="field">
    Attach Photo: <%= attach_form.file_field :photo %>
    <%= attach_form.hidden_field :user_id, :value => current_user.id %>
  </div>
  <% unless attach_form.object.nil? || attach_form.object.new_record? %>
  <div class="field">
    <%= attach_form.label :_destroy, 'Remove:' %>
    <%= attach_form.check_box :_destroy %>
    <%= link_to_function "Remove", "$(this).up('.attachment').remove()" %>
  </div>
  <% end %>
<% end %>