<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @attachment.type %>
</p>

<p>
  <b>Url:</b>
  <%= @attachment.URL %>
</p>

<p>
  <b>Description:</b>
  <%= @attachment.description %>
</p>

<p>
  <b>Post:</b>
  <%= @attachment.post_id %>
</p>

<p>
  <b>Credits:</b>
  <%= @attachment.Credits %>
</p>


<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
