<div class="row-fluid">
  <div class="span12">
    <!-- ************************************************************* -->
    <div class="row-fluid">
      <div class="span8">
        <%= image_tag("/images/string.png") %>
      </div>
      <div class="span4">
        <div class="well">
          This is my pretty well well
        </div>
      </div>
      <!-- ************************************************************* -->
      <div class="row-fluid">
        <div class="span8">
          <%= image_tag("/images/string.png") %>
        </div>
        <div class="span4">
          <div class="well">
            This is my pretty well well
          </div>
        </div>
        </div>
        <!-- ************************************************************* -->
        <!-- BEGINNING OF REPEATING BLOCKS AT BOTTOM -->
      <ul class="thumbnails">
      <% @posts.each do |p| %>  
        <li class="span3">
        <div class="thumbnail">
          <%= link_to p.title, truncate(post_url(p), length: 50, seperator: ' ') %>
          <%= body_truncate = truncate(p.body, length: 240, seperator: ' ') %>
          <%= image_tag(p.assets.first.image.thumb('300x300#').url,
              alt: body_truncate) if p.assets.present? %>
          </div>
        </li>
      <% end %>
      </ul>
    <!-- END OF REPEATING BLOCKS AT BOTTOM -->
    </div>
  </div>
</div>