<div class="row-fluid">
  <div class="span12">
    <%= render 'shared/top_about' -%>
    <div class="page-header">
      <h1>About Global Playground’s Digital Schoolhouse</h1>
    </div>
    <div class="row">
      <div class="span12">
        <div class="about-page">
          <%= image_tag('/images/about-digital-schoolhouse.png',
            width: "auto", alt: "Digital Schoolhouse", class: "pull-right") -%>
          <div class="about-section">
            <h2>Vision</h2>
            <p>Digital Schoolhouse joins classrooms around the world under one “digital roof,” so that students may learn together across cultures, borders, and boundaries.</p>
          </div>
          <div class="about-section">
            <h2>Mission</h2>
            <p>While several virtual classrooms and online learning organizations exist, there are no organized global efforts focused on uniting children of very diverse backgrounds through online exchange, learning, and play. Our founding organization, Global Playground, has existing brick and mortar schools in five countries. We reach thousands of diverse children in both developing and developed nations. Now we just need a way to connect them all. Through the Digital Schoolhouse, teachers will be able to link their classrooms and their students together online.</p>
            <p>Children are inherently curious, about each other, about the world. However, they are infrequently exposed to news, information, and contact from sources outside their immediate community. Teachers would love to facilitate these interactions, but often have little time to develop them. The Digital Schoolhouse provides immediate access to appropriate content and collaboration tools, helping teachers offer their students a window into other parts of the world. Facebook, Twitter, and other existing platforms need to be culled and filtered so teachers can reliably employ their advantages in the classroom. This portal is designed specifically for these teachers and their students.</p>
          </div>
          <div class="about-section">
            <h2>Team</h2>
            <p>We have Teaching Fellows and their collaborative teams placed locally in several countries. We have teachers in the US ready to connect their classrooms with the Digital Schoolhouse. A team of technologists, teachers, learning scientists, and instructional designers has constructed curricular content and teacher trainings to optimize the value of the Digital Schoolhouse. Now, a team of web designers and developers have assembled to build a portal, connecting our current network with teachers around the world.</p>
          </div>
          <div class="about-section">
            <h2>Digital Schoolhouse Development Team</h2>
            <ul>
              <li><h3>Adam Lupu (<%= link_to "@HowWeLearn", "http://twitter.com/howwelearn" -%>)</h3></li>
              <li><h3><%= link_to "Greg Cardoni", "http://cardoni.net" -%> (<%= link_to "@Cardoni", "http://twitter.com/cardoni" -%>)</h3></li>
              <li><h3>Adam Mark (<%= link_to "@AdamWMark", "http://twitter.com/adamwmark" -%>)</h3></li>
              <li><h3><%= link_to "Eric MacAdie", "http://www.macadie.net" -%> (<%= link_to "@EMacAdie", "http://twitter.com/emacadie" -%>)</h3></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>