<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <!-- ****** BEGINNING OF BIG FEATURED IMAGE SLIDER -->
      <div class="span8">

        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <% @posts.each do |p| %>
            <div class="item">
              <%= image_tag(p.assets.first.image.thumb('750x400').url,
                  alt: body_truncate = truncate(p.body, length: 300, seperator: ' ')) if p.assets.present? %>
              <div class="carousel-caption"><h4><%= link_to p.title, truncate(post_url(p), length: 50, seperator: ' ') %></h4><p><%= body_truncate %></p></div></div>
            <% end %>
          </div><a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a> <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>

      </div>
      <!-- ***** END OF BIG FEATURED IMAGE SLIDER-->
      <div class="span4">
        <!-- BEGINNING OF ONE WELL -->
        <div class="well">This is my pretty well well</div>
        <!-- END OF ONE WELL -->
        <!-- BEGINNING OF ONE WELL -->
        <div class="well">This is my pretty well well</div>
        <!-- END OF ONE WELL -->
        <!-- BEGINNING OF ONE WELL -->
        <div class="well">This is my pretty well well</div>
        <!-- END OF ONE WELL -->
        <!-- BEGINNING OF ONE WELL -->
        <div class="well">This is my pretty well well</div>
        <!-- END OF ONE WELL -->
        <!-- BEGINNING OF ONE WELL -->
        <div class="well">This is my pretty well well</div>
        <!-- END OF ONE WELL -->
      </div>
    </div>
      <!-- BEGINNING OF REPEATING BLOCKS AT BOTTOM -->
      <ul class="thumbnails">
      <% @posts.each do |p| %>  
        <li class="span3">
        <div class="thumbnail">
          <%= link_to p.title, truncate(post_url(p), length: 50, seperator: ' ') %>
          <%= body_truncate = truncate(p.body, length: 240, seperator: ' ') %>
          <%= image_tag(p.assets.first.image.thumb('300x300#').url,
              alt: body_truncate) if p.assets.present? %>
          </div>
        </li>
      <% end %>
      </ul>
      <!-- END OF REPEATING BLOCKS AT BOTTOM -->
  </div>
</div>
<script>$('.carousel').carousel({
  interval: 5000
  pause: "hover"
})</script>