%h1 Listing countries

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @countries.each do |country|
    %tr
      %td= country.name
      %td= link_to 'Show', country
      %td= link_to 'Edit', edit_country_path(country)
      %td= link_to 'Destroy', country, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Country', new_country_path
