<%= form_for(@article) do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= "Article Title" %><br />
    <%= f.text_field(:article_title, :size => 100) %>
  </div>
  <div class="field">
    <%= "Body" %><br />
    <%= f.text_area(:article_body, :cols => 72, :rows => 10) %>
  </div>
<div class="pictures-video">
	<h4>Add a Video or Picture:</h4>
  <div style="float: left;" class="field">
    <%= "YouTube ID" %><br />
    <%= f.text_field(:yt_url, :size => 30) %> <b><font color="red">OR</font></b>
  </div>
  <div style="float: right;" class="field">
    <%= "Image URL" %><br />
    <%= f.text_field(:image_url, :size => 60) %>
  </div>
<% type = @article.yt_url.present? ? "a YouTube video" : "an image URL" %>
<%= @article.attachment_URL.blank? ? "Add one YouTube video ID or one image URL above" : "You're currently using " + type %>
</div>
<div style="clear: both;"></div>
<div>
	<br />
    <%= f.label "Country" %><br />
    <%= f.select :user_id, {"Thailand" => 1, "Honduras" => 2, "United States" => 3, "Uganda" => 4, "Egypt" => 5, "Japan" => 6, "Croatia" => 7, "Vietnam" => 8} %>
  </div>
<br />
<div class="actions" align="center" style="width: 735px;">
  <%= f.submit %>
</div>

<% end %>

