<div id="content">
  <div id="main">
  <header class="wrapper">
    <%= link_to image_tag("globalplayground2.gif"), "http://globalplayground.org/", :border=>0, :class => 'header-image' %>
</header>
      <div class="wrapper threeway">
				<h1>Thailand</h1>
          <ul>
            <%#= @uri.query %>
            <% @articles.each do |article| %>
		          <% if article.user_id == 1 %>
		          <div class="article_body">
		            <h2><%=  article.article_title %></h2>
		            <p><%=  article.article_body %></p>
		          </div>
		          <hr>
				<object width="241" height="145">
				<param name="movie" value="http://www.youtube.com/e/N8G4YgQyEMk">
				<param name="allowFullScreen" value="true">
				<param name="allowscriptaccess" value="always">
				<embed src="http://www.youtube.com/e/<%= article.attachment_URL %>" type="application/x-shockwave-flash" width="241" height="145" allowscriptaccess="always" allowfullscreen="true">
				</object>
		          <%#= attachmentEmbedCode(article.attachment_URL) %>
		
		          <% end %>
   		      <% end %>
          </ul>
      </div>
      
      <div class="wrapper threeway">
				<h1>Honduras</h1>
          <ul>
            <%#= @uri.query %>
            <% @articles.each do |article| %>
		          <% if article.user_id == 2 %>
		          <div class="article_body">
		            <h2><%=  article.article_title %></h2>
		            <p><%=  article.article_body %></p>
		          </div>
		          <hr>
				<object width="241" height="145">
				<param name="movie" value="http://www.youtube.com/e/N8G4YgQyEMk">
				<param name="allowFullScreen" value="true">
				<param name="allowscriptaccess" value="always">
				<embed src="http://www.youtube.com/e/<%= article.attachment_URL %>" type="application/x-shockwave-flash" width="241" height="145" allowscriptaccess="always" allowfullscreen="true">
				</object>
		          <%#= attachmentEmbedCode(article.attachment_URL) %>

		          <% end %>
   		      <% end %>
          </ul>
        </div>
      
      <div class="wrapper threeway">
			<h1>Vietnam</h1>
        <ul>
          <%#= @uri.query %>
          <% @articles.each do |article| %>
	          <% if article.user_id == 3 %>
	          <div class="article_body">
	            <h2><%=  article.article_title %></h2>
	            <p><%=  article.article_body %></p>
	          </div>
	          <hr>
				<object width="241" height="145">
				<param name="movie" value="http://www.youtube.com/e/N8G4YgQyEMk">
				<param name="allowFullScreen" value="true">
				<param name="allowscriptaccess" value="always">
				<embed src="http://www.youtube.com/e/<%= article.attachment_URL %>" type="application/x-shockwave-flash" width="241" height="145" allowscriptaccess="always" allowfullscreen="true">
				</object>
	          <%#= attachmentEmbedCode(article.attachment_URL) %>

	          <% end %>
 		    <% end %>
        </ul>
    </div>

  </div>
</div>


