<div id="content">
  <div id="main">
  <header class="wrapper">
    <%= link_to image_tag("globalplayground2.gif"), "http://globalplayground.org/", :border=>0, :class => 'header-image' %>
</header>
      <div class="wrapper threeway">
				<h1 class="large">Thailand</h1>
          <ul>
            <%#= @uri.query %>
            <% @articles.each do |article| %>
		          <% if article.user_id == 1 %>
		          <div class="article_body">
		            <h2><%=  article.article_title %></h2>
		            <p><%=  article.article_body %></p>
		          </div>
		          <hr>
<<<<<<< HEAD
<<<<<<< HEAD
				<object width="241" height="145">
				<param name="movie" value="http://www.youtube.com/e/N8G4YgQyEMk">
				<param name="allowFullScreen" value="true">
				<param name="allowscriptaccess" value="always">
				<embed src="http://www.youtube.com/e/<%= article.attachment_URL %>" type="application/x-shockwave-flash" width="241" height="145" allowscriptaccess="always" allowfullscreen="true">
				</object>
		          <%#= attachmentEmbedCode(article.attachment_URL) %>
		
=======
=======
>>>>>>> fb5a9a204b03fd4e730c4b23c56c15b7250e4b45
		          <div class="frontpage"><iframe id="player" type="text/html" src="http://www.youtube.com/embed/<%= article.attachment_URL %>" frameborder="0"></iframe></div>
		<hr>
          <%#= v["title"]["$t"] %>
          <%#= image_tag(v["media$group"]["media$thumbnail"][0]["url"], :class => "vid_img") %>
>>>>>>> fb5a9a204b03fd4e730c4b23c56c15b7250e4b45
		          <% end %>
   		      <% end %>
          </ul>
      </div>
      
      <div class="wrapper threeway">
				<h1 class="large">Honduras</h1>
          <ul>
            <%#= @uri.query %>
            <% @articles.each do |article| %>
		          <% if article.user_id == 2 %>
		          <div class="article_body">
		            <h2><%=  article.article_title %></h2>
		            <p><%=  article.article_body %></p>
		          </div>
		          <hr>
<<<<<<< HEAD
<<<<<<< HEAD
				<object width="241" height="145">
				<param name="movie" value="http://www.youtube.com/e/N8G4YgQyEMk">
				<param name="allowFullScreen" value="true">
				<param name="allowscriptaccess" value="always">
				<embed src="http://www.youtube.com/e/<%= article.attachment_URL %>" type="application/x-shockwave-flash" width="241" height="145" allowscriptaccess="always" allowfullscreen="true">
				</object>
		          <%#= attachmentEmbedCode(article.attachment_URL) %>

=======
=======
>>>>>>> fb5a9a204b03fd4e730c4b23c56c15b7250e4b45
		          <div class="frontpage"><iframe id="player" type="text/html" src="http://www.youtube.com/embed/<%= article.attachment_URL %>" frameborder="0"></iframe></div>
		<hr>
          <%#= v["title"]["$t"] %>
          <%#= image_tag(v["media$group"]["media$thumbnail"][0]["url"], :class => "vid_img") %>
>>>>>>> fb5a9a204b03fd4e730c4b23c56c15b7250e4b45
		          <% end %>
   		      <% end %>
          </ul>
        </div>
      
      <div class="wrapper threeway">
			<h1 class="large">Vietnam</h1>
        <ul>
          <%#= @uri.query %>
          <% @articles.each do |article| %>
	          <% if article.user_id == 3 %>
	          <div class="article_body">
	            <h2><%=  article.article_title %></h2>
	            <p><%=  article.article_body %></p>
	          </div>
	          <hr>
<<<<<<< HEAD
<<<<<<< HEAD
				<object width="241" height="145">
				<param name="movie" value="http://www.youtube.com/e/N8G4YgQyEMk">
				<param name="allowFullScreen" value="true">
				<param name="allowscriptaccess" value="always">
				<embed src="http://www.youtube.com/e/<%= article.attachment_URL %>" type="application/x-shockwave-flash" width="241" height="145" allowscriptaccess="always" allowfullscreen="true">
				</object>
	          <%#= attachmentEmbedCode(article.attachment_URL) %>

=======
=======
>>>>>>> fb5a9a204b03fd4e730c4b23c56c15b7250e4b45

	          
	          
	          <div class="frontpage"><iframe id="player" type="text/html" src="http://www.youtube.com/embed/<%= article.attachment_URL %>" frameborder="0" style="text-align: center; "></iframe></div>
	<hr>
        <%#= v["title"]["$t"] %>
        <%#= image_tag(v["media$group"]["media$thumbnail"][0]["url"], :class => "vid_img") %>
>>>>>>> fb5a9a204b03fd4e730c4b23c56c15b7250e4b45
	          <% end %>
 		    <% end %>
        </ul>
    </div>

  </div>
</div>


