<% if attachment.object.new_record? %>
  <div class="field">
    <%= attachment.file_field(:image) %>
    <%= attachment.hidden_field :user_id, value: current_user.id %>
  </div>
<% else %>
    <%= image_tag attachment.object.photo.url(:thumb), class: "thumb" %>
    <%= attachment.link_to_remove raw "<div class=\"overlay\"><p>remove</p></div>" %>
    <%= attachment.hidden_field :_destroy %>
<% end %>
