<%= nested_form_for @post, :html => {:multipart => true} do |f| %>
  <div id="post-screen-left">
    <div class ="field">
      Post Title: <%= f.text_field :title, id: "title-field"%>
    </div>
    <div class ="field">
      Body: <%= f.text_area :body, id: "body-field" %>
    </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div id="post-screen-right">
    <div id="attachments">
      <h3>Attachments</h3>
        <%= f.fields_for :attachments do |attachment| %>
          <%= render 'attachment', attachment: attachment %>
        <% end %>  
      <div class ="actions">
        <% if @post.attachments.first.present? %>
          <%= f.link_to_add "Add Another Photo", :attachments, id: "add-photo" %>
        <% else %>
          <%= f.link_to_add "Add a Photo to This Post!", :attachments %>
        <% end %>
      </div>
    </div>
    <div id="post-tags">
      <h3>Post Tags</h3>
    </div>
  </div>
  <div id="div-clear"></div>
  <div class ="actions">
      <div id="save-post">
        <%= f.submit "Save Post", id: "save-post-button" -%>      
      </div>
  </div>
<% end %>