<%= nested_form_for @post, :html => {:multipart => true} do |f| %>
  <div class ="field">
    Title: <%= f.text_field :title %>
  </div>
  <div class ="field">
    Body: <%= f.text_area :body %>
  </div>
  <h2>Attachments:</h2>
  <%= f.fields_for :attachments do |attachment| %>
    <div class="field">
      <% if attachment.object.new_record? %>
        <%= attachment.file_field(:photo) %>
        <%= attachment.hidden_field :user_id, :value => current_user.id %>
    </div>
      <% else %>
    <div class="field">
      <%= image_tag(attachment.object.photo.url(:thumb)) %>
      <%= attachment.hidden_field :_destroy %>
      <%= attachment.link_to_remove "remove" %>
    </div>
      <% end %>
  <% end %>
  <div class ="actions">
    <%= f.link_to_add "Add Photo", :attachments %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class ="actions">
    <%= f.submit "Post it" %>
  </div>
<% end %>