%h1 All (current users) Posts
= link_to "New Post", new_post_url
%table
  - @posts.each do |post|
    %tr
      %td
        %h3= link_to "#{post.title}", edit_post_url(post)
      %td
        %p= truncate(post.body, :length => 20, :seperator => ' ')
      - post.user.attachments.each do |attachment|
        %td
          %p= attachment.provider

      
