<% if signed_in? && @post.user_id == current_user.id %>
  <%= button_to "Edit This Post", edit_post_url(@post), method: :get, class: "btn" %>
<% end %>

<h1><%= @post.title %></h1>

<p>Post by: <%= @post.user.name %>  |  Date: <%= @post.created_at.to_date.to_formatted_s(:long_ordinal) %></p>

<p><%= @post.body_html %></p>
<p><%# = post_url(@post.id)%></p>
<p><% this_url =  "http://www.shoolhouse.io/posts/" + @post.id.to_s %>
<%= tweet_button(:url => this_url,  :text => @post.title, :count => "none", :via => "GlobalPlay") %>
</p>
<p><%# = custom_tweet_button %>
</p>
<ul>
  <% @post.assets.each do |asset| %>  
    <li><%= image_tag(asset.image.thumb('100x100').url ) %></li>
  <% end %>
</ul>

<!--
<div id="fb-root"></div><div id="facebook">[Facebook]</div>
-->
