<div id="user-posts-menu">
  <%= button_to "Edit This Post", edit_post_url(@post), method: :get -%>
</div>
<h1><%= @post.title %></h1>

<p>Written by: <%= @post.user.name %></p>

<p><%= @post.body_html %></p>

<ul>
  <% @post.attachments.each do |attachment| %>  
  <li><%= embed_media(attachment.attachment_url) %></li>
  <% end %>
</ul>