<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Digital Schoolhouse" -%></title>
    <%= stylesheet_link_tag "application", media: "all" -%>
    <%= javascript_include_tag "application" -%>
    <%= csrf_meta_tags %>
    <%= render 'layouts/ga_analytics' -%>
  </head>
  <body>
    <div id="container" class="container">    
    <header>
      <nav class="navbar navbar-fixed-top">
        <%= render 'layouts/header' -%>
      </nav>
      <%= render 'layouts/alert_box' %>
    </header>
    <div id="main" role="main">
      <%= yield -%>
    </div>
    <footer class="footer">
      <%= render 'layouts/footer' -%>
    </footer>
    <script>
    $(".alert").alert()
    </script>
  </body>
</html>