<div class="row-fluid well">
  <div class="span6">
    <legend>Post Title and Body</legend>
      <%= form_for @post, :html => {class: "form"} do |p| %>
      <fieldset>
      <!-- begin fields -->
      <!-- begin title and body text sections of post form -->
      <div class="control-group">
        <%= p.label :title, class: "control-label" %>
        <div class="controls">
          <%= p.hidden_field :user_id, :value => current_user.id %>
          <!-- We shouldn't need that line above... -->
          <%= p.text_field :title, class: "input-xlarge span6", placeholder: "Title of your post" %>
        </div>
      </div>
      <div class="control-group">
        <%= p.label :body, class: "control-label" %>
        <div class="controls">
          <%= p.text_area :body, rows: 20, class: "input-xlarge span6", placeholder: "Body text of your post" %>
        </div>
      </div>
      <div class="control-group">
  	  <%= p.label :location, class: "control-label" %>
        	  <div class="controls">
      		  <%= p.collection_select(:location, Country.all, :name, :name ) %>
        	  </div>
          </div>
      <!-- end title and body text sections of post form -->
      <!-- start form save/delete/upload buttons -->
      <div class="form-actions span5 center">
        <%= p.submit "Save Post", class: "btn btn-success" %>
        <%= link_to icon("camera", "Upload Images/Video"), assets_url, class: "btn btn-info" %>
        <% if signed_in? %>
          <% if current_page?(new_post_url) %>
            <%= link_to icon("trash", "Cancel / Delete"), :back, confirm: "Are you sure you\'d like to cancel and delete this post?", disable_with: "Deleting...", class: "btn btn-danger" %>
          <% else %>
            <%= (link_to icon("trash", "Delete Post"), post_url, method: :delete, confirm: "Are you sure you\'d like to delete this post?", disable_with: "Deleting...", class: "btn btn-danger") %>
          <% end %>
        <% end %>
      </div>
      <!-- end form save/delete/upload buttons -->
  </div>
  <!-- end of left side of form -->
  <!-- begin right-side of form -->
  <div class="span6">
    <legend>Add Some Pictures or Videos</legend>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#1" data-toggle="tab"><i class="icon-picture"></i> Add Pictures</a></li>
        <li><a href="#2" data-toggle="tab"><i class="icon-facetime-video"></i> Add Videos</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="1">
          <ul class="thumbnails">
            <%= p.fields_for :attachments, @post.initialized_attachments(@current_user) do |builder| %>
            <li class="span2"><a href="#" class="thumbnail">
            <% asset = builder.object.asset %>
            <%= builder.hidden_field :asset_id %>
            <%= builder.label :enable, image_tag(asset.image.thumb('168x168#').url ) %>
            <%= builder.check_box :enable %>
            <%= builder.text_field :description, placeholder: "add a caption", class: "thumbnail-text-input" %></a></li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane" id="2">
          <!-- begin video tab section -->
          <!-- begin video section -->
          <ul class="thumbnails">
            <%= p.fields_for :attachments do |builder| %>
            <li class="span2"><a href="#" class="thumbnail">
            <% asset = builder.object %>
            <%= builder.hidden_field :attachment_url, value: asset.attachment_url %>
            <%= builder.hidden_field :provider, value: asset.provider %>
            <%= builder.label :enable, image_tag(asset.attachment_url, width: "170px") %>
            <%= builder.check_box :enable %>
            <%= builder.text_field :description, placeholder: "add a caption", class: "thumbnail-text-input" %></a></li>
            <% end %>
          </ul>
            </div>
            <!-- end video section -->
        </div>
      </div>
    </div>
    <!-- end videos tab section -->
</div>
    </fieldset>
    <% end %>
    <!-- end fields -->
</div>
<script>$('#myTab').tab('show')</script>