<%= form_for @post do |p| %>
  <div class="seven columns">
    <section class="clearfix">
      <div class ="field">
        Post Title: <%= @post.title ? @post.title : (p.text_field :title, id: "title-field") %>
      </div>
      <div class ="field">
        Body: <%= p.text_area :body, id: "body-field" %>
      </div>
      <%= p.hidden_field :user_id, :value => current_user.id %>
    </section>
  </div>
  <div class="eight columns">
    <section class="clearfix">
      <h3>Attachments</h3>
        <%= p.fields_for :attachments, @post.initialized_attachments do |builder| %>
          <% asset = builder.object.asset %>
          <%= builder.hidden_field :asset_id %>
          <div class="image">
            <%= builder.label :enable, image_tag(asset.image.thumb('130x130').url ) %>
            <p><%= builder.check_box :enable %>add to post</p>
            <%= builder.text_field :description, placeholder: "add a caption", size: 15 %>
          </div>
        <% end %>
    </section>
    <div id="post-tags">
      <h3>Post Tags</h3>
    </div>
  </div>
  <div id="clear"></div>
  <div class ="actions">
    <div id="save-post">
      <%= p.submit "Save Post", id: "save-post-button" -%>      
    </div>
  </div>
<% end %>