<div class="row-fluid well">
  <div class="span6">
    <legend>Post Title and Body</legend>
      <%= form_for @post, :html => {class: "form"} do |p| %>
      <fieldset>
      <!-- begin fields -->
      <!-- begin title and body text sections of post form -->
      <div class="control-group">
        <%= p.label :title, class: "control-label" %>
        <div class="controls">
          <%= p.hidden_field :user_id, :value => current_user.id %>
          <!-- We shouldn't need that line above... -->
          <%= p.text_field :title, class: "input-xlarge span6", placeholder: "Title of your post" %>
        </div>
      </div>
      <div class="control-group">
        <%= p.label :body, class: "control-label" %>
        <div class="controls">
          <%= p.text_area :body, rows: 20, class: "input-xlarge span6", placeholder: "Body text of your post" %>
        </div>
      </div>
      <!-- end title and body text sections of post form -->
      <!-- start form save/delete/upload buttons -->
      <div class="form-actions span5 center">
        <%= p.submit "Save Post", class: "btn btn-success" %>
        <%= link_to icon("camera", "Upload Images/Video"), assets_url, class: "btn btn-info" %>
        <% if signed_in? %>
          <% if current_page?(new_post_url) %>
            <%= link_to icon("trash", "Cancel / Delete"), :back, confirm: "Are you sure you\'d like to cancel and delete this post?", disable_with: "Deleting...", class: "btn btn-danger" %>
          <% else %>
            <%= (link_to icon("trash", "Delete Post"), post_url, method: :delete, confirm: "Are you sure you\'d like to delete this post?", disable_with: "Deleting...", class: "btn btn-danger") %>
          <% end %>
        <% end %>
      </div>
      <!-- end form save/delete/upload buttons -->
  </div>
  <!-- end of left side of form -->
  <!-- begin right-side of form -->
  <div class="span6">
    <legend>Add Some Pictures or Videos</legend>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#1" data-toggle="tab"><i class="icon-picture"></i> Add Pictures</a></li>
        <li><a href="#2" data-toggle="tab"><i class="icon-facetime-video"></i> Add Videos</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="1">
          <ul class="thumbnails">
            <%- Image.all.each do |image| -%>
            <li class="span2">
              <%= label_tag "post_image_ids_#{image.id}",
                    image_tag(image.image.thumb('168x168#').url) + 
                    check_box_tag("post[image_ids][]", image.id, @post.image_ids.include?(image.id), :id => "post_image_ids_#{image.id}")  %>
            </li>
            <%- end -%>
          </ul>
        </div>
        <div class="tab-pane" id="2">
          <!-- begin video tab section -->
          <!-- begin video section -->
          <ul class="thumbnails">
            <%#- Video.all.each do |video| -%>
            <li class="span2">
              <%#= label_tag "post_video_ids_#{video.id}",
                    image_tag(video.image.thumb('168x168#').url) + 
                    check_box_tag("post[video_ids][]", video.id, @post.video_ids.include?(video.resource_id), :id => "post_video_ids_#{video.id}") %>
            </li>
            <%#- end -%>
            
          </ul>
            </div>
            <!-- end video section -->
        </div>
      </div>
    </div>
    <!-- end videos tab section -->
</div>
    </fieldset>
    <% end %>
    <!-- end fields -->
</div>
<script>$('#myTab').tab('show')</script>