%h1 Edit Post
= link_to "All Posts", posts_url
= form_for(@post) do |p|
  .field
    = p.label :title
    = p.text_field :title
  .field
    = p.label :body
    = p.text_area :body
    
    = p.submit "Submit Change"

= @post.attachment.provider  
/ = form_for(@post.attachment) do |a|
/   .field
/     = a.label :attachment_url
/     = a.text_field :attachment_url
/ 
/     = p.submit "Submit Change"  