<h1>All Posts</h1>
<h2>Hi, <%= current_user.name.camelize %>, here are your posts!</h2>
<%= link_to "New Post", new_post_url %>
<table>
  <% @user_posts.each do |post| %>
    <tr>
      <td>
        <h3><%= link_to post.title, post_url(post) %></h3>
      </td>
      <td>
        <h3><%= link_to "Edit", edit_post_url(post) %></h3>
      </td>
      <td>
        <h3><%= post.user.name %></h3>
      </td>
      <td>
        <p><%= truncate(post.body, :length => 20, :seperator => ' ') %></p>
      </td>
      <% post.attachments.each do |attachment| %>
        <td>
          <p><%= attachment.attachment_url %></p>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>