<h1>Listing posts</h1>

<table>
  <tr>
    <th>Post date</th>
    <th>Published</th>
    <th>Title</th>
    <th>Body</th>
    <th>Attachments</th>
    <th>Tags</th>
    <th>User</th>
    <th>Slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.post_date %></td>
    <td><%= post.published %></td>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
    <td><%= post.attachments_id %></td>
    <td><%= post.tags %></td>
    <td><%= post.user_id %></td>
    <td><%= post.slug %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
