<h1>Hello <%= current_user.name %></h1>
<%= link_to "All Posts", posts_url %>
<%= form_for @post, :html => {:multipart => true} do |post| %>
  <div class="field">
    <%= post.label :title %>
    <%= post.text_field :title %>
  </div>
  <div class="field">
    <%= post.label :body %>
    <%= post.text_area :body %>
  </div>
  <%= post.fields_for :attachments do |attachment_field| %>
  <div class="field">
    <ul id="photo-list">
      <li><%= link_to("Remove", "#delete", :class => "delete-photo") %>

      <%= attachment_field.label :photo, "Photo" %>
      <%= attachment_field.file_field :photo %>
      <%= attachment_field.hidden_field :user_id, :value => current_user.id %>
      <%#= attachment_field.hidden_field :photo_cache %>
      </li>
    </ul>
    <%#= attachment_field.label :name, "Url" %>
    <%#= attachment_field.file_field :attachment_url %>
    <%#= attachment_field.text_field :attachment_url %>
    <%#= attachment_field.hidden_field :user_id, :value => current_user.id %>
    <%#= attachment_field.hidden_field :provider, :value => provider_regex(:attachment_url) %> <!-- Not quite working, close I think? -->
  </div>
  <% end %>
  <div>
  <%= link_to "Add Another", "#add", :id => "add-another" %>
  </div>
  <%= post.hidden_field :user_id, :value => current_user.id %>
  <div class="form-submit">
  <%= post.submit "Submit Change" %>
  </div>
<% end %>
