<%= render 'posts/edit_menu' if signed_in? %>

<h1><%= @post.title %></h1>

<p>Post by: <%= @post.user.name %>  |  Date: <%= @post.created_at.to_date.to_formatted_s(:long_ordinal) %></p>

<p><%= @post.body_html %></p>

<ul>
  <% @post.attachments.each do |attachment| %>  
    <li><%= embed_media(attachment.attachment_url) %></li>
  <% end %>
</ul>