<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="<%= root_url %>">
      <!-- TODO: INSERT NEW LOGO IN PLACE OF THIS TEXT LINK  (-GREG) -->
      <%= image_tag('/images/gp-logo.gif', width: 40, alt: "Global Playground Logo", id: "logo") %>
    </a>
      <ul class="nav pull-left">
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to "About", about_page_url %></li>
      </ul>
      <ul class="nav pull-right">
        <%= render 'shared/user_menu' if signed_in? %>
        <%= render 'shared/create_menu' if admin? %>
        <%= render 'shared/sign_inout_menu' %>
      </ul>
    <%= raw("<div id=\"notice\">#{notice}</div>") if notice -%>
  </div>
</div>
