<header>
  <h1>Digital Schoolhouse</h1>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_page_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "My Posts", posts_path %></li>    
      <li><%= link_to "My Profile", edit_user_path(current_user) %></li>    
      <li>Not you, <%= current_user.name.camelize %>? <%= link_to "Sign out", logout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Sign in", login_path %></li>
      <li><%= link_to "Sign up(temporary)", new_user_path %></li>
      <% end %>
    </ul>
  </nav>
<hr />
</header>